<div class="app-body">

  <mat-toolbar color="primary">

    <!-- Menu Button -->
    <button mat-icon-button (click)="openMenu()">
      <mat-icon>
        {{!drawerOpened ? 'menu' : 'close'}}
      </mat-icon>
    </button>

    <!-- Title -->
    <span class="title" routerLink="" routerLinkActive="active">
      <img class="" src="../favicon.ico" alt="logo"> {{title}}
    </span>

  </mat-toolbar>

  <!-- Slider Open holding the menu -->
  <mat-drawer-container class="main-container" autosize>

    <!-- Drawer Container -->
    <mat-drawer #drawer class="budgeteer-sidenav" mode="over" [opened]="drawerOpened">

      <div *ngFor="let n of linkNames" class="link" routerLink="{{n.link}}" routerLinkActive="active"
        (click)="closeDrawer()">
        <mat-icon class="icon-class"> {{n.icon}} </mat-icon>
        <p> {{n.name}} </p>
      </div>

    </mat-drawer>

    <!-- Container holding main contents -->
    <div class="budgeteer-sidenav-content">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>
</div>