/* For use in src/lib/core/theming/_palette.scss */
$md-primarycolor: (
  50: #e6eae6,
  100: #c0c9c0,
  200: #97a696,
  300: #6d826b,
  400: #4d674c,
  500: #2e4c2c,
  600: #294527,
  700: #233c21,
  800: #1d331b,
  900: #122410,
  A100: #6fff65,
  A200: #40ff32,
  A400: #11fe00,
  A700: #0fe500,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$md-secondarycolor: (
  50: #f9f3e8,
  100: #f1e1c5,
  200: #e8cd9f,
  300: #dfb879,
  400: #d8a95c,
  500: #d19a3f,
  600: #cc9239,
  700: #c68831,
  800: #c07e29,
  900: #b56c1b,
  A100: #fff5eb,
  A200: #ffdbb8,
  A400: #ffc285,
  A700: #ffb56b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
