.transaction{
  width: 80%;
  margin: 10px 10% 0 10% ;
  display: flex;
  cursor: pointer;
}

.tableRow{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tableData{
  width: 15%;
}

.header{
  color:white;
  background-color: #d19b3f;
  justify-content: center;
} 

.headerData{
  width: 15%;
}

.footer{
  height: 10vh;
  color: #5f7e66;
}

.table{
  height: 70vh;
  display: flex;
  flex-direction: column;
  color: #d19b3f;
  overflow: auto;
}


.table :hover{
  color: black;
  background-color: #8fa47981;
}

