<div class="chartArea">

  <div *ngIf="testing" >
    <b>Debts</b>
    {{worthData.debts|json}}<br>
    {{worthData.debts.length}}<br>
    <b>Assets</b>
    {{worthData.assets |json}}<br>
    {{worthData.assets.length}}<br>
    <b>Debt Data</b>
    {{debtChartData|json}}<br>
    {{debtChartData.length}}<br>
    <b>Worth Data</b>
    {{assetsChartData|json}}<br>
    {{assetsChartData.length}}<br>
  </div>
  <canvas baseChart 
          [type]="lineChartType"
          [datasets]="chartData" 
          [legend]="lineChartLegend" 
          [options]="lineChartOptions"
          [labels]="labels"
          >
  </canvas>
</div>